table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  

  body {
    min-height: 700px;
}

smart-grid {
    width: 100%;
    height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border: 1px solid #ccc;
  padding: 8px;
  position: relative;
}

.resizer {
  width: 6px;
  height: 100%;
  background: #f0f0f0;
  position: absolute;
  right: 0;
  top: 0;
  cursor: col-resize;
}





